.dropdown {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    background-color: var(--primary-color);
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 0 7px rgba(71, 71, 71, 0.473);
    color: #fff;
    padding: 150px 30px 20px;
    flex-direction: column;
    transform: translateX(-101%);
    transition: all 0.3s;
}

.dropdown a {
    margin-bottom: 20px;
    background-color: rgba(85, 22, 18, 0.267);
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
}

.dropdown p {
    display: block;
    margin-top: auto;
    text-align: center;
}